.list{
    margin-top: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: #47b8e0;
    font-weight: 600;
    .name{
        width:45%;
        text-align: left;
        margin-left: 30px;
    }
    .region{
        width:25%;
        text-align: left;
        padding: 0px 0px 0px 0px;
        align-items: left;
    }
    .subregion{
        width:20%;
        text-align: left;
        margin: auto;
    }
    .capital{
        width:25%;
        text-align: left;
        margin-left: 0px;
        margin: auto;
    }
    .lat{
        width:25%;
        text-align: left;
        margin-left: 30px;
    }
    .long{
        width:25%;
        text-align: left;
    }
}
.header{
    width: 95vw;
    display: flex;
    color: #ff7473;
    margin-bottom: 0px;
    .ca{
        width:22%;
        text-align: left;
         
        border-bottom: 1px solid rgb(255, 166, 0);
        margin-left: 5px; 
        
    }
    .cu{
        width:48%;
        text-align: left;
        margin-left: 30px;  
         
        border-bottom: 1px solid rgb(255, 166, 0);
        margin-left: 5px; 
        
    }
    .re{
        width:27%;
        text-align: left;
        margin-left: 5px; 
        //  
        border-bottom: 1px solid rgb(255, 166, 0);
        margin-left: 5px; 
    }
    .sr{
        width:22%;
        text-align: left; 
        border-bottom: 1px solid rgb(255, 166, 0);
        margin-left: 5px; 
    }
    .la{
        width:20%;
        text-align: left;
          
        border-bottom: 1px solid rgb(255, 166, 0);
        margin-left: 5px; 
    }
    .lo{
        width:20%;
        text-align: left; 
        border-bottom: 1px solid rgb(255, 166, 0);
        margin-left: 5px; 
        
    }
}
